@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

body {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

/* Header */
.inline-block {
    display: inline-block;
    vertical-align: bottom;
}

.logo {
    width: 10%; 
    padding: 1%;
    text-align: center;
    /* background-color: #33A0D3; */
}

header {
    height: 144px; 
    /* height: 70px; */
}
nav {
    width: 70%;
    padding: 1% 1% 1% 0;
    font-family: 'K2D', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #0A2940;
    /* background-color: khaki; */
}

.linkedin {
    width: 10%;
    padding: 1% 1% 3% 1%;
    text-align: center;
}

ul {
    width: 100%;
    margin-right: 25px;
    margin-left: 0px;
    padding-left: 0;
    list-style-type: none;
}

li { 
    display: inline-block;
    margin-right: 75px;
}

/* Hero */
.hero {
    /*height: 771px;*/
    padding: 0;
    margin: 0;
    max-width: 1920px;
    background-image: url("../images/hero_background.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    /* align-items: flex-start; */
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.hero-left {
    float: left;
    display: flex;
    flex-direction: column;
    width: 45%;
    padding: 2% 0;
    margin-left: 50px;
    max-height: 765px; 
    flex-shrink: 1;
    /* background-color: khaki; */
    
}

.hero-left h1 {
    font-family: 'K2D', sans-serif;
    /* font-size: 56px; */
    font-size: 50px;
    font-weight: bold;
    color: #FFFF10;
    padding: 0;
    margin: 0;
    width: 100%;
}

.hero-left p {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    color: white;
    line-height: 1.6;
    padding-bottom: 0;
    
}
.hero-right {
    margin: 0;
    padding: 3% 5% 1% 5%;
    width: 25%;
    height: auto;
    flex-shrink: 1;
    min-width: 500px;
    text-align: center;
}

.hero-right img {
    width: 100%;
    height: auto;
}

#learnMore a {
    text-decoration: none;
    color: #FFFF10;
}
#learnMore {
    font-family: 'K2D', sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #FFFF10;
    width: 100%;
    display:flex;
    flex: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px 0 15px 0;
    text-decoration: none;
}

#LMwords:hover {
    font-weight: bold;
}
#LMwords:hover + #LMimg {
    /* font-size: 35px; */
    transform: translateY(5px);
    transition-duration: .5s;
    
}


/* Side menu */
aside {
    width: 15%;
    height: 2500px;
    float: left;
}

#shortcutMenu {
    width: 170px;
    display: flex;
    flex-direction: column;
    background-color: #245274;
    margin: 25px 25px;
    border-radius: 15px;
    position: sticky;
    top: 20px;
    box-shadow: -5px -5px #33A0D3 ;
}

#shortcutMenu h3 {
    margin: 0;
    color: white;
    font-family: 'K2D', sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding: 5px 0 0 20px;

}

#shortcutMenu a {
    padding: 5px 25px 8px 40px;
    color: white;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

#shortcutMenu a:hover {
    font-weight: bold;
    color: #FFFF10; 
} 

/* My Skills section */
.mySkills {
    width: 83%;
    float: right;
}

.mySkills h1 {
    font-family: 'K2D', sans-serif;
    font-size: 56px;
    color: #245274;
    margin: 15px 0;
    /* background-color: yellow; */
}

.description {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.flexContainer {
    display: flex;
    /* background-color: teal; */
    
}

.leftSkills {
    display: flex;
    flex-direction: column;
}

.skill {
    display: flex;
    flex-direction: row;
    /* height: 213px; */
    height: auto;
    margin: 25px 0;
}

.skillWording {
    padding: 0 35px 0 25px;
}

.mySkills h3 {
    font-family: 'K2D', sans-serif;
    font-size: 32px;
    color: #33A0D3;
    margin: 0;
}

.uiButton {
    border: none;
    float: right;
    margin-right: 35px;
    margin-bottom: 20px;
    background-color: #33A0D3;
    color: white;
    font-family: 'K2D', sans-serif;
    font-size: 24px;
    font-weight: bold;
    padding: 7px 20px;
    border-radius: 27px;
    cursor: pointer;
}

.uiButton a {
    text-decoration: none;
    color: white;
}

.uiButton a:hover {
    color: yellow;
}

.uiButton:hover {
    color: #FFFF10;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

#downloadBtn {
    margin-right: 2`0px;
    position: sticky;
    top: 20px;
}

/*Resume Styling*/
#page_1 {position:relative; overflow: hidden;margin: 66px 0px 0px 90px;padding: 0px;border: none; width: 768px;}

#page_1 #p1dimg1 {position:absolute;top:179px;left:0px;z-index:-1;width:720px;height:2px;font-size: 1px;line-height:nHeight;}
#page_1 #p1dimg1 #p1img1 {width:720px;height:2px;}




#page_2 {position:relative; overflow: hidden;margin: 30px 0px 48px 90px;padding: 0px;border: none;width: 768px;}
#page_2 #id2_1 {border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 768px;overflow: hidden;}
#page_2 #id2_2 {border:none;margin: 60px 0px 0px 356px;padding: 0px;border:none;width: 412px;overflow: hidden;}

#page_2 #p2dimg1 {position:absolute;top:289px;left:0px;z-index:-1;width:720px;height:524px;}
#page_2 #p2dimg1 #p2img1 {width:720px;height:524px;}




.ft0{font: bold 28px 'K2D';line-height: 25px;}
.ft1{font: 13px 'Open Sans';line-height: 17px;}
.ft2{font: 13px 'Open Sans';line-height: 16px;}
.ft3{font: bold 20px 'K2D';line-height: 16px;}
.ft4{font: bold 13px 'Open Sans';line-height: 15px;}
.ft5{font: italic 13px 'Open Sans';line-height: 15px;}
.ft6{font: 13px 'Open Sans';line-height: 15px;}
.ft7{font: 13px 'Open Sans';text-decoration: underline;line-height: 15px;}
.ft8{font: 13px 'Open Sans';line-height: 16px;}
.ft9{font: 13px 'Open Sans';margin-left: 16px;line-height: 16px;}
.ft10{font: 13px 'Open Sans';margin-left: 16px;line-height: 15px;}
.ft11{font: 12px 'Verdana';color: #999999;line-height: 14px;}
.ft12{font: 1px 'Open Sans';line-height: 1px;}
.ft13{font: bold 13px 'Open Sans';line-height: 16px;}
.ft14{font: bold 13px 'Open Sans';line-height: 18px;}
.ft15{font: 13px 'Open Sans';line-height: 19px;}
.ft16{font: 13px 'Open Sans';line-height: 18px;}
.ft17{font: bold 13px 'Open Sans';line-height: 17px;}
.ft18{font: 13px 'Open Sans';line-height: 18px;}
.ft19{font: italic 13px 'Open Sans';line-height: 16px;}

.p0{text-align: left;
    /* padding-left: 53px; */
    margin-top: 0px;margin-bottom: 0px;}
.p1{text-align: left;
    /* padding-left: 53px; */
    /* padding-right: 274px; */
    margin-top: 2px;margin-bottom: 0px;
    /* text-indent: 17px; */
}
.p2{text-align: left;padding-right: 53px;margin-top: 22px;margin-bottom: 0px; line-height: 1.2;}
.p3{text-align: left;margin-top: 30px;margin-bottom: 10px;}
.p4{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p5{text-align: right;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p6{text-align: left;margin-top: 10px;margin-bottom: 0px;}
.p7{text-align: left;padding-left: 24px;padding-right: 57px;margin-top: 9px;margin-bottom: 0px;text-indent: -24px;}
.p8{text-align: left;margin-top: 3px;margin-bottom: 0px;}
.p9{text-align: left;margin-top: 4px;margin-bottom: 0px;}
.p10{text-align: left;padding-left: 24px;padding-right: 60px;margin-top: 4px;margin-bottom: 0px;text-indent: -24px;}
.p11{text-align: left;padding-left: 24px;padding-right: 91px;margin-top: 4px;margin-bottom: 0px;text-indent: -24px;}
.p12{text-align: left;padding-left: 24px;padding-right: 87px;margin-top: 3px;margin-bottom: 0px;text-indent: -24px;}
.p13{text-align: left;margin-top: 15px;margin-bottom: 0px;}
.p14{text-align: left;margin-top: 9px;margin-bottom: 0px;}
.p15{text-align: left;padding-left: 24px;padding-right: 57px;margin-top: 4px;margin-bottom: 0px;text-indent: -24px;}
.p16{text-align: left;padding-left: 24px;padding-right: 83px;margin-top: 4px;margin-bottom: 0px;text-indent: -24px;}
.p17{text-align: left;padding-left: 24px;padding-right: 68px;margin-top: 3px;margin-bottom: 0px;text-indent: -24px;}
.p18{text-align: left;padding-left: 356px;margin-top: 15px;margin-bottom: 0px;}
.p19{text-align: left;padding-left: 7px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p20{text-align: right;padding-right: 1px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p21{text-align: left;margin-top: 20px;margin-bottom: 0px;}
.p22{text-align: left;margin-top: 2px;margin-bottom: 0px;}
.p23{text-align: left;margin-top: 0px;margin-bottom: 0px;}
.p24{text-align: left;margin-top: 6px;margin-bottom: 0px;}
.p25{text-align: left;padding-right: 101px;margin-top: 4px;margin-bottom: 0px;}
.p26{text-align: left;padding-right: 52px;margin-top: 0px;margin-bottom: 0px;}
.p27{text-align: left;padding-right: 81px;margin-top: 6px;margin-bottom: 0px;}
.p28{text-align: left;margin-top: 22px;margin-bottom: 0px;}
.p29{text-align: left;margin-top: 1px;margin-bottom: 0px;}
.p30{text-align: left;margin-top: 7px;margin-bottom: 0px;}

.td0{padding: 0px;margin: 0px;width: 557px;vertical-align: bottom;}
.td1{padding: 0px;margin: 0px;width: 176px;vertical-align: bottom;}
.td2{padding: 0px;margin: 0px;width: 572px;vertical-align: bottom;}
.td3{padding: 0px;margin: 0px;width: 161px;vertical-align: bottom;}
.td4{padding: 0px;margin: 0px;width: 569px;vertical-align: bottom;}
.td5{padding: 0px;margin: 0px;width: 148px;vertical-align: bottom;}
.td6{padding: 0px;margin: 0px;width: 539px;vertical-align: bottom;}
.td7{padding: 0px;margin: 0px;width: 171px;vertical-align: bottom;}
.td8{padding: 0px;margin: 0px;width: 640px;vertical-align: bottom;}
.td9{padding: 0px;margin: 0px;width: 70px;vertical-align: bottom;}
.td10{padding: 0px;margin: 0px;width: 600px;vertical-align: bottom;}
.td11{padding: 0px;margin: 0px;width: 110px;vertical-align: bottom;}

.tr0{height: 21px;}
.tr1{height: 18px;}
.tr2{height: 17px;}
.tr3{height: 41px;}

.t0{width: 733px;margin-left: 7px;margin-top: 2px;font: bold 13px 'Times New Roman';}
.t1{width: 733px;margin-left: 7px;margin-top: 19px;font: bold 13px 'Times New Roman';}
.t2{width: 717px;font: bold 13px 'Times New Roman';}
.t3{width: 710px;margin-left: 7px;margin-top: 20px;font: bold 13px 'Times New Roman';}
.t4{width: 710px;margin-top: 5px;font: bold 13px 'Times New Roman';}
.t5{width: 710px;margin-top: 23px;font: bold 13px 'Times New Roman';}
.t6{width: 710px;margin-top: 27px;font: bold 13px 'Times New Roman';}


/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
  
/* The Close Button */
.close {
    color: #888;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #33A0D3;
    text-decoration: none;
    cursor: pointer;
}

/* My Work section */
.myWork {
    width: 83%;
    float: right;
}

.myWork h1 {
    font-family: 'K2D', sans-serif;
    font-size: 56px;
    color: #245274;
    margin: 15px 0;
}

.myWork h3{
    font-family: 'K2D', sans-serif;
    font-size: 32px;
    margin: 0;
    padding: 0;
}

.myWork p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px; 
    margin: 5px 0 20px 0;
}


.workGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "forestService  safeRide"
        "getGreen meetEat"
    ;
}

.projectTile {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5px;
    cursor: pointer;
    display: grid;
    align-content: end;
    height: 480px;
    width: 552px;
    color: white;
}

.projectTile:hover {
    color: #245274;
}

#forestService {
    grid-area: forestService;
    background-image: url("../images/tile_background.png");
}

#forestService:hover {
    background-image: url("../images/tile_hover_background.png");
}

#safeRide {
    grid-area: safeRide;
    background-image: url("../images/tile_background.png");
}

#safeRide:hover {
    background-image: url("../images/tile_hover_background.png");
}

#getGreen {
    grid-area: getGreen;
    background-image: url("../images/tile_background.png");
}

#getGreen:hover {
    background-image: url("../images/tile_hover_background.png");
}

#meetEat {
    grid-area: meetEat;
    background-image: url("../images/tile_background.png");
}

#meetEat:hover {
    background-image: url("../images/tile_hover_background.png");
}

#FSLogo {
    margin: auto;
    padding-bottom: 27px;
}

#SRLogo {
    margin: auto;
    padding-bottom: 110px;
}

#GGLogo {
    margin: auto;
    padding-bottom: 55px;
}

#MELogo {
    margin: auto;
    padding-bottom: 60px;
}

.tileWording {
    padding: 0 0 20px 40px;
}

/* Contact Me*/
.contactMe {
    float: right;
    width: 83%;
}

.contactMe h1 {
    font-family: 'K2D', sans-serif;
    font-size: 56px;
    color: #245274;
    margin: 30px 0 15px 0;
}

.contactMe p {
    font-family: 'Open Sans', sans-serif;
    color: #0A2940;
    margin-left: 10px;
}

#contactContent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

#contactImg {
    margin: 25px auto;
    
}

#contactImg img {
    border-radius: 10px;
}

.contactForm {
    font-family: 'Open Sans', sans-serif;
    color: #1281B5;
    font-weight: bold;
    margin-left: 10px;
    /* display: flex; */
    /* flex-direction: column; */
}

#submitForm submit {
    background-color: #1281B5;
}

#name {
    line-height: 2.5em;
    border-radius: 3px;
    border-color: #0A2940;
    border-width: thin;
}

#email {
    line-height: 2em;
}

/* Footer */
.blueFooter {
    background-image: url(../images/footer_background.png);
    height: 90px;
    width: 100%;
    display: flex;
    flex-direction: row;
   justify-content: center;
   align-items: center;
}

.email {
    font-family: 'K2D', sans-serif;
    font-size: 20px;
    color: white;
    padding: 14px 96px 13px 0;
    display: flex;
    justify-content: center;
   align-items: center;
}

.email img {
    padding: 10px;
    /* display: inline */
}

.email a {
    text-decoration: none;
    color: white;
}

.email a:hover {
    font-weight: bold;
}


#linkedin-footer { 
    padding: 29px 0 29px 0;
}

#linkedin-footer img:hover {
    width: 40px;
    height: 39px;
}

/* Media Queries */
@media only screen and (max-width: 1200px){
    .hero {
        flex-direction: column;
    }

    .hero-left {
        width: 90%;
        padding-bottom: 0;
    }  
    

    
    #shortcutMenu{
        display: none;
    }
    .mySkills {
        float: none;
        margin-left: 5%;
    }
    
    .myWork {
        float: none;
        margin-left: 5%;
    }

    .contactMe {
        float: none;
        margin-left: 5%;
    }

    .flexContainer {
        flex-direction: column;
    }

    .workGrid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            "forestService"
            "safeRide"
            "getGreen"
            "meetEat";
    }
}

@media only screen and (max-width: 975px){
    
    ul {
        margin-right: 15px;
        margin-left: 50px;
    }
    nav {
        font-size: 20px;
    }
    li {
        margin-right: 50px;
        margin-top: 10px;
    }

    aside {
        display: none;
    }


}
